
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Login</h2>
<div>
    <form action="/account/login" method="post">
        @ViewBag.ErrMsg
        用户名：
        <input type="text" id="username" name="username" />
        密码：
        <input type="password" id="password" name="password" />
        <button type="submit">登录</button>
    </form>
</div>
@section scripts{
    <script>
        function login() {
            var username = document.querySelector('#username').value;
            var password = document.querySelector('#password').value;
        }
    </script>
}
